includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - hotjar-tracking-code.php
        - inc/admin.php
        - inc/public.php
    checkMissingIterableValueType: false
